services:
  # mongo1:
  #   image: mongo:latest
  #   container_name: mongodb_single
  #   ports:
  #     - "27017:27017" 
  #   command: ["mongod", "--bind_ip_all"]
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: minhchisgod672006
  #     MONGO_INITDB_ROOT_PASSWORD: minhchitran1
  #   volumes:
  #     - mongo1-data:/data/db 
  #   restart: always
  #   networks:
  #     - mongoNetwork
  api:
    build: . 
    container_name: my_python_api
    restart: always
    ports:
      - "8000:8000"
    depends_on:
    #   - mongo1
      - minio
    environment:
      # - MONGO_URI=mongodb://admin:password123@mongo1:27017
      - MONGO_URI=mongodb+srv://minhchisgod672006:minhchitran1@minh-cluster.ov4wdff.mongodb.net/?appName=Minh-Cluster
      # Biến này giúp chặn torch tìm GPU, tránh lỗi
      # - CUDA_VISIBLE_DEVICES=-1
      - MODEL_PATH=models/finetuned_nc126_best_mAP.onnx
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minhchisgod672006
      - MINIO_SECRET_KEY=minhchitran@
      - MINIO_BUCKET_NAME=filter-images-bucket
      - MINIO_SECURE=False
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - mongoNetwork
  minio:
    image: minio/minio:latest
    container_name: minio_server
    ports:
      - "9000:9000"       # Port API (Code python sẽ chọc vào đây)
      - "9001:9001"       # Port Console (Giao diện web để xem ảnh)
    environment:
      MINIO_ROOT_USER: minhchisgod672006     # Username đăng nhập
      MINIO_ROOT_PASSWORD:  minhchitran@  # Password đăng nhập
    command: server /data --console-address ":9001"
    volumes:
      - ./minio_data:/data
    networks:
      - mongoNetwork
    
  # dashboard:
  #   build: . 
  #   container_name: my_streamlit_dashboard
  #   # Lệnh chạy riêng cho Streamlit
  #   command: streamlit run dashboard.py --server.port 8501 --server.address 0.0.0.0
  #   ports:
  #     - "8501:8501" # Map cổng 8501 ra ngoài
  #   depends_on:
  #     - mongo1
  #     - api # Dashboard chỉ chạy khi API đã bật
  #   environment:
  #     # Dashboard kết nối tới Mongo qua tên service
  #     # - MONGO_URI=mongodb://admin:password123@mongo1:27017
  #     - MONGO_URI=mongodb+srv://minhchisgod672006:minhchitran1@minh-cluster.ov4wdff.mongodb.net/?appName=Minh-Cluster
  #     # Dashboard kết nối tới API qua tên service 'api'
  #     # - API_URL=http://api:8000/v1/filter
  #     # Setup dòng dưới này để API_URL có thể trỏ lên Render để test nút Quét ngay trên Dashboard luôn
  #     - API_URL=https://filter-api-ywwi.onrender.com/v1/filter
  #   networks:
  #     - mongoNetwork
    
# volumes:
#   mongo1-data:

networks:
  mongoNetwork:
    driver: bridge
    name: mongoNetwork