fastapi
uvicorn
python-multipart
minio
pymongo
opencv-python-headless
numpy
pydantic
ultralytics
requests
python-dotenv
Pillow
streamlit
plotly
pandas
dnspython
onnx>=1.14.0
onnxruntime-gpu
email-validator